* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html, body {
  background: -webkit-linear-gradient(330deg, #000, #f0a6ca);
  background: linear-gradient(120deg, #000, #f0a6ca);
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 106vh;
  width: 100vw;
}

.container h1 {
  margin: 0.5em auto;
  color: #FFF;
  text-align: center;
}
